/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

/* This one goes for the palette */
.hbox
{
	-fx-padding: 0;
	-fx-spacing: 1;
	-fx-alignment:top-left;
	-fx-background-image:url("file:Colorbackground.png");
	-fx-background-repeat:repeat repeat;
}
/* palette debug */
.palettestyle
{
	-fx-grid-lines-visible:true;
}

